{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container index">
  <div class="row h-50 align-items-center justify-content-center">
    <h1 class="display-1 text-center">Welcome to Expensify!</h1>
  </div>
  <div class="row h-25 align-items-center justify-content-center">
    <h2 class="display-3 text-center">The budgeting solution that predicts your expenses!</h2>
  </div>
</div>

<p class="mb-n1 py-2 fixed-bottom bg-light lead text-center">&lt; Created by Sharif M. Tarik and Mohammad Ali Shuvo /&gt;</p>
{% endblock %}
